
.bar {
    color: black;
    display: flex;
    background-color: rgba(0, 0, 0, 0.196);
    padding: 10px 20px;
    z-index: 10;
    position: absolute;
    top: 0;
    box-shadow: 0 0 15px 6px white;
    width: 100%;
    display: flex;
  
    align-items: center;
  }
  .rightt {
    width: 40%;
  font-size: 2rem;
    font-weight: bold;
    font-family: "Metal Mania", cursive;
    margin-left: 20px;
    color:white;
    background-color: transparent !important;
  }
 
  .left {
      font-size: 1.5rem;
      position: absolute;
    right:1%;
    margin-right: 40px;
    z-index: 20;
    align-self: flex-start;
    margin-top: 8px;
  }
  a{
      margin: 0px 25px;
      color: white;
      text-decoration: none;


  }

  a:hover{
      text-decoration: underline;
  }