<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MathQuiz</title>
    <link rel="stylesheet" href="css/index.css" class="" />
  </head>
  <body>
    <button class="newbutton1"><i class="fa fa-home" aria-hidden="true"></i></button>
<div class="main">

<h1 class="mainh1" ><span id="mainmath"></span> Quiz Game</h1>

<button class="mainbutton">Start</button>
</div>




<div class="secondg">


<div class="secondinsideg">
  <button class="mainbutton1g button1g"  >Play as a Guest</button>
 <a href="/signup"><button class="mainbutton1g button2g" >Sign Up</button></a> 


</div>

</div>




<div class="second">


<h1 class="secondh1 hhhhh">Select the Choice</h1>

<div class="secondinside">
  <button class="mainbutton1 button1"  >Knock Out</button>
  <button class="mainbutton1 button2" >Number Of Questions</button>


</div>

</div>


    <div class="cont">
      <h1 class="conth1" >Press key To Start The <span class="math">MATH</span> Game</h1>

      <div class="box">
        <div style="text-align: center" class="t1">
          <div class="timer"><span class="tttt">15s</span></div>
        </div>
        <p class="quess">Start Please</p>

        <div class="ques">
          <div class="ans" id="s1">a. <span class="ans1">Option 1</span></div>
          <div class="ans" id="s2">b. <span class="ans2">Option 2</span></div>
          <div class="ans" id="s3">c. <span class="ans3">Option 3</span></div>
          <div class="ans" id="s4">d. <span class="ans4">Option 4</span></div>
        </div>
      </div>
      <div class="btn"><button class="bt">PLAY</button></div>
    </div>
    <div class="new">
<h1 class="newh1"></h1>
<button class="newbutton"><i class="fa fa-home" aria-hidden="true"></i></button>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
    <div class="foo">
    <footer>&copy; ❤️  2021&nbsp;Prashant Bhalla</footer></div>
  </body>
</html>
