<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/prog.css" class="">
</head>
<body>

{{>header}}

 
<table>

<tr class="cont" >
<th>Rank</th>
<th>Username</th>
<th>Score</th>
<th></th>
</tr>

{{#each user}}
        <tr>
<td>{{this.rank}}</td>
<td>{{this.username}} </td>
<td  >{{this.score}}</td>


</tr>
    {{/each}}


</table>

</body>
</html>